<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<html>
<head>

<title>Welcome to Blue Cask Software</title>

</head>

<body>
  <h1><center>Blue Cask Software</center><h1></br><br>
  <center>Main Menu</center>
  <table>
    <tr>
      #foreach($row in $MenuList)
      <td><a href=$row.Url>$row.Name/a></td>
      #end
    </tr>
  </table>
</body>
</html>